#Projects-container {
    width: min(100%, 1080px);
    height: 100%;
}

#Project-grid {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (48%)[auto-fill];
    -ms-grid-rows: (min(45vh, 400px))[auto-fill];
    grid-template-columns: repeat(auto-fill, 48%);
    grid-template-rows: repeat(auto-fill, min(45vh, 400px));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    border-radius: 1rem;
    background-color: white;
    justify-content: center;
    margin-top: 2rem;
    padding: 2rem;
}

.Project-card {
    height: min(45vh, 400px);
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(126, 174, 186, 0.5);
    box-shadow: 0px 0px 5px rgba(126, 174, 186, 0.5);
}

.Project-image {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.Project-header {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: white;
    transition: all 0.5s ease;
}

.Project-info {
    height: 45%;
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    background-color: white;
    transition: all 0.5s ease;
}

.active-info {
    transform: translateY(100%);
}

.translate-up {
    transform: translateY(-215%);
}

.Project-card:hover .active-info, .Project-card:active .active-info {
    transform: translateY(0%);
}

.Project-card:hover .active-header, .Project-card:active .active-header {
    transform: translateY(-215%);
}

.Technologies {
    height: 100%;
    margin: 0px 0px 0px 0.3rem;
}

.Tech {
    margin: 0px 0.2rem 0px 0.2rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.Tech-name {
    font-size: var(--step--2);
    margin: 2px 0px 0px 0px;
    text-align: center;
    width: 100%;
}

.Project-name {
    font-size: var(--step-0);
}

.Project-description {
    font-size: var(--step--1);
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}

.Links {
    width: 100%;
}

.Project-link {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: white;
    text-shadow: 
    0 0 1px rgba(255,255,255,0.8), 
    2px 2px 2px rgba(0,0,0,0.4);
    background-color: #a5c4ec;
    border-radius: 6px;
    padding: 10px;
    margin: auto 0.2rem auto 0.2rem;
}

.Project-link:hover {
    background-color: rgba(68, 218, 88, 0.5);
}

@media screen and (max-width: 960px) {
    #Project-grid {
        -ms-grid-columns: (100%)[auto-fill];
        -ms-grid-rows: (420px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 100%);
        grid-template-rows: repeat(auto-fill, 420px);
    }

    .Project-card {
        height: 420px;
    }
}

@media screen and (max-width: 720px) {
    #Project-grid {
        background-color: initial;
        -ms-grid-columns: (100%)[auto-fill];
        -ms-grid-rows: (240px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 100%);
        grid-template-rows: repeat(auto-fill, 240px);
    }

    .Project-card {
        height: 240px;
    }

    .Tech-name {
        font-size: var(--step-1);
    }
    
    .Project-name {
        font-size: var(--step-3);
    }
    
    .Project-description {
        font-size: var(--step-2);
    }
}