#Projects {
    height: 100vh;
    width: 100vw;
    align-items: flex-end;
    background-color: rgb(251, 254, 255);
}

#Project-page-container {
    width: 95%;
    flex-wrap: wrap;
}

.Project-card {
    height: 280px;
    width: 360px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(126, 174, 186, 0.5);
    margin: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 2s ease;
}

.Project-image {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.Project-header {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: white;
    transition: all 0.5s ease;
}

.Project-info {
    height: 45%;
    z-index: 1;
    position: absolute;
    transform: translateY(100%);
    bottom: 0;
    background-color: white;
    transition: all 0.5s ease;
}

.Project-card:hover .Project-info, .Project-card:active .Project-info {
    transform: translateY(0%);
}

.Project-card:hover .Project-header, .Project-card:active .Project-header {
    transform: translateY(-210%);
}

.Technologies {
    height: 100%;
    margin: 0px 0px 0px 5px;
}

.Tech {
    height: 100%;
    text-align: center;
    color: black;
    margin: 0px 3px 0px 3px;
}

#MongoDB {
    width: 42px;
}

.Tech-name {
    font-size: 0.6rem;
    width: 100%;
    margin: 2px 0px 0px 0px;
}

.Project-name {
    font-size: 1.1rem;
    color: #000000;
    text-align: center;
}

.Project-description {
    font-size: 0.8rem;
    padding: 4px;
    width: 100%;
    text-align: center;
    margin: 2px 0px 7px 0px;
}

.Links {
    width: 100%;
}

.Project-link {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: white;
    text-shadow: 
    0 0 1px rgba(255,255,255,0.8), 
    2px 2px 2px rgba(0,0,0,0.4);
    font-size: 1rem;
    background-color: #a5c4ec;
    border-radius: 6px;
    padding: 10px;
    margin: auto 2px auto 2px;
}

.Project-link:hover {
    background-color: rgba(68, 218, 88, 0.5);
}

@media screen and (max-width: 960px) {
    #Projects {
        height: 1900px;
    }

    #Project-page-container {
        width: 100%;
    }

    .Project-description {
        font-size: 0.75rem;
        width: 95%;
    }
}