#Projects {
    height: 100vh;
    width: 100vw;
    align-items: flex-end;
}

#Project-page-container {
    width: 95%;
    flex-wrap: wrap;
}

.Project-card {
    height: 280px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(126, 174, 186, 0.5);
    margin: 10px;
    overflow: hidden;
}

.Project-left {
    width: 60%;
    height: 100%;
}

.Project-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75%;
    width: 100%;
    cursor: pointer;
}

.Project-image {
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-right: 1px solid rgba(126, 174, 186, 0.5);
    border-bottom: 1px solid rgba(126, 174, 186, 0.5);
    object-fit: cover;
}

.Image-overlay {
    position: absolute;
    opacity: 0;
    color: white;
    text-align: center;
    width: 100%;
}

.Project-image-container:hover .Project-image {
    filter: brightness(50%);
}

.Project-image-container:hover .Image-overlay {
    opacity: 1;
}

.Technologies {
    height: 25%;
    width: 100%;
}

.Tech {
    height: 100%;
    text-align: center;
    color: black;
    margin: 0px 5px 10px 5px;
}

#MongoDB {
    width: 42px;
}

.Tech-name {
    font-size: 0.6rem;
    width: 100%;
}

.Project-right {
    width: 40%;
    height: 100%;
}

.Project-name {
    font-size: 1.1rem;
    margin: 10px 0px 5px 0px;
    color: #a5c4ec;
    text-shadow: 
    0 0 1px rgba(165, 178, 236, 0.9),
    1px 1px 1px rgba(0,0,0,0.4);
    text-align: center;
}

.Project-description {
    font-size: 0.8rem;
    width: 95%;
}

.Links {
    height: 100%;
    width: 100%;
}

.Project-link {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: white;
    text-shadow: 
    0 0 1px rgba(255,255,255,0.8), 
    2px 2px 2px rgba(0,0,0,0.4);
    font-size: 1rem;
    background-color: #a5c4ec;
    border-radius: 6px;
    padding: 10px;
    margin: 0px 2px 0px 2px;
}

.Project-link:hover {
    background-color: rgba(68, 218, 88, 0.5);
}

@media screen and (max-width: 960px) {
    #Projects {
        height: 1300px;
    }

    #Project-page-container {
        width: 100%;
    }

    .Project-description {
        font-size: 0.75rem;
        width: 95%;
    }
}