#Hero {
    height: min(100vh, 1000px);
    align-items: flex-end;
}

.Intro-container {
    height: calc(100% - 80px);
    width: 100%;
    position: relative;
}

#Hero-image {
    height: min(90vh, min(90vw, 540px));
    width: min(90vh, min(90vw, 540px));
}

.Intro-left {
    width: 50%;
    height: 75%;
}

#Hero-header {
    margin: 10px 0px 20px 0px;
}

.hero-p {
    font-size: var(--step-1);
}

#Resume {
    background-color: rgb(17, 94, 156);
    margin: 0 0.25rem;
}

#Resume:hover, #Resume:active, #Resume:focus {
    background-color: rgb(36, 111, 173);
}

#Github {
    background-color: rgb(60, 60, 60);
    margin: 0 0.25rem;
}

#Github:hover, #Github:active, #Github:focus {
    background-color: rgb(81, 81, 81);
}

.button-container {
    margin-top: 1rem;
}

.Arrow-container {
    transition: all 0.5s;
    top: calc(100% - 110px);
    position: absolute;
    cursor: pointer;
}

.Arrow-container:hover .Down-arrow {
    animation: none;
    color: rgb(36, 111, 173);
}

.Down-arrow {
    color: rgb(17, 94, 156);
    font-size: var(--step-2);
    animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-10px);
  }
	60% {
    transform: translateY(-5px);
  }
}

@media screen and (min-width: 1300px) {
    .hero-p {
        font-size: var(--step-2);
    }
}

@media screen and (max-width: 960px) {
    .Intro-container {
        flex-direction: column-reverse;
        margin-bottom: 75px;
    }

    #Hero-header {
        text-align: center;
    }

    .Intro-left {
        height: 30%;
        width: 100%;
        text-align: left;
    }

    .Arrow-container {
        top: calc(100% - 100px);
    }

    .Down-arrow {
        font-size: var(--step-3);
    }

    .hero-p {
        font-size: var(--step-4);
    }
}

@media screen and (max-width: 720px) {
    .Arrow-container {
        top: calc(100% - 80px);
    }

    .Down-arrow {
        font-size: var(--step-5);
    }
}