.Hero {
    background-image: url("../../images/wallpaper.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Intro-container {
    height: 100vh;
    width: 100vw;
}