#Skills-container {
    width: min(100%, 1080px);
    height: 100%;
}

#Skill-grid {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(5rem, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    border-radius: 16px;
    background-color: white;
    justify-content: center;
    padding: 2rem;
}

.skill-icon {
    width: 24px;
    height: 24px;
}

.skill-name {
    font-size: var(--step--2);
    margin: 2px 0px 0px 0px;
    text-align: center;
    width: 100%;
}

.skill-card {
    width: 90px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    -webkit-box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
    box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
    border: 1px solid #eee;
}

@media screen and (max-width: 960px) {
    #Skills-container {
        flex-direction: column;
    }

    #Skill-grid {
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
        background-color: initial;
    }

    .skill-icon {
        width: 2rem;
        height: 2rem;
    }    
}

@media screen and (max-width: 720px) {
    .skill-name {
        font-size: var(--step-2);
    }
}