#About-container {
    width: min(100%, 1080px);
    height: 100%;
    border-radius: 16px;
    background-color: white;
    padding: 1rem;
}

.about-text {
    font-size: var(--step-0);
}

@media screen and (max-width: 960px) {
    
    .about-text {
        font-size: var(--step-3);
    }
}