#About-container {
    height: 100%;
    border-radius: 16px;
    background-color: white;
    padding: 1rem;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 27%);
}

.about-text {
    font-size: var(--step-0);
    line-height: 1.6rem;
    padding: 2rem;
}

.wrapper {
    width: 100%;
    text-align: center;
    padding: 1rem 3rem;
}

#About-image-container {
    width: 100%;
}

#Work-container {
    width: 50%;
}

#Hobby-container {
    width: 50%;
}

.image-wrapper {
    width: 100%;
}

.about-image {
    height: 80px;
    margin: 4px 0px 4px 0px;
}

@media screen and (min-width: 1300px) {
    .about-text {
        font-size: var(--step-1);
        line-height: 1.7rem;
    }
}

@media screen and (max-width: 960px) {
    #About-container {
        box-shadow: none;
        padding: 1rem;
    }

    #About-image-container {
        flex-direction: column;
    }

    #Work-container {
        width: 100%;
        margin: 20px 0px 20px 0px;
    }
    
    #Hobby-container {
        width: 100%;
        margin: 20px 0px 20px 0px;
    }

    .image-wrapper {
        width: 100%;
        font-size: var(--step-2);
    }

    .wrapper {
        padding: 0px 1rem;
    }

    .about-header {
        width: 100%;
    }

    .about-image {
        height: 70px;
    }

    .about-text {
        font-size: var(--step-3);
        padding: 0px;
        line-height: initial;
    }
}