#Contact-container {
    border-radius: 16px;
    background-color: white;
    padding: 2rem;
    height: 100%;
    width: 100%;
    position: relative;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 27%);
}

#Contact-header {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

#Contact-left {
    height: 100%;
    width: 40%;
    text-align: center;
    position: relative;
}

#Email-image {
    width: 75%;
    cursor: pointer;
    padding: 20px;
}

#Send-email {
    padding: 10px 20px;
    font-size: var(--step-0);
    border: none;
    background-color: rgb(17, 94, 156);
    color: white;
    border-radius: 40px;
    text-align: center;
    z-index: 1;
}

#Send-email:hover, #Send-email:focus, #Send-email:active {
    background-color: rgb(36, 111, 173);
}

@media screen and (max-width: 960px) {
    #Contact-container {
        flex-direction: column;
        padding: 0px 1.3rem 0px 1.3rem;
        box-shadow: none;
        background-color: initial;
    }

    #Contact-header {
        position: initial;
        font-size: var(--step-3);
    }

    #Send-email {
        position: absolute;
        bottom: 10%;
        font-size: var(--step-3);
    }

    #Email-image {
        width: 100%;
        padding: 10px;
    }

    #Contact-left {
        width: 100%;
    }
}