* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    user-select: none;
}

body {
    background-color: rgb(251, 254, 255);
}

.Page-container {
    height: calc(100% - 80px);
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Page-title {
    font-size: 1.8rem;
    margin: 1rem 0px 1rem 0px;
}

.Text-line {
    width: 90%;
    margin: -40px 0px 0px 0px;
    text-align: center;
}

button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: white;
    text-shadow: 
    0 0 1px rgba(255,255,255,0.8), 
    2px 2px 2px rgba(0,0,0,0.4);
    font-size: 1.3rem;
}

.Shadow-p {
    color: #ffffff;
    text-shadow: 
    0 0 1px rgba(255, 255, 255, 0.8),
    1px 1px 1px rgba(0,0,0,0.4);
    width: 95%;
}

.Shadow-span {
    color: rgba(68, 218, 88, 0.8);
    text-shadow: 
    0 0 1px rgba(68, 218, 88, 1),
    1px 1px 1px rgba(0,0,0,0.4);
}