/*
Sky Blue --> #89ABE3FF
Amethyst --> #C1C8E4
Violet --> #8860D0
*/

* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a, button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

p {
    color: #89ABE3FF;
}